In [1]:
import os
import boto3  # AWS
import pandas as pd
from pandas import json_normalize
import numpy as np
import json
import io

In [2]:
# Creating an S3 client object
s3 = boto3.client("s3")

# Specifying the name of the bucket
bucket_name = "capstonehaystacks"

# List of CSV files to download
files = [
    'GA_LISTINGS_SALES.csv',
    'GA_LISTINGS_SALES_V2.csv',
    'GA_listing.csv',
    'all_zips_grocery_store.json',
    'all_zips_restaurant.json',
    'atlanta-geo.csv',
    'atlanta_cbsa_zip.csv',
    'atlanta_hdma_2021.csv',
    'atlanta_listings.csv',
    'core_geo_dataset.csv',
    'crime.csv',
    'crime_rating_zipcode.csv',
    'elementary_schools.csv',
    'high_schools.csv',
    'hmda_2021_ga_all-records_labels.csv',
    'middle_schools.csv',
    'points-of-interest-google.csv',
    'points-of-interest-google2.csv',
    'points-of-interest-haystacks.csv',
    'schools.csv'
    ]

# Dictionary to store the dataframes
dataframes = {}

# Downloading the files from S3 and parsing them into data
for file_name in files:
    _, file_ext = os.path.splitext(file_name)
    if file_ext == ".csv":
        s3.download_file(bucket_name, file_name, file_name)
        dataframes[file_name[:-4]] = pd.read_csv(file_name, index_col=False)
    elif file_ext == ".json":
        response = s3.get_object(Bucket=bucket_name, Key=file_name)
        json_content = response["Body"].read().decode("utf-8")
        dataframes[file_name[:-5]] = json.loads(json_content)

/var/folders/_j/zgrrpz8955l530bsdd3qxdq80000gp/T/ipykernel_31338/3226162360.py:39: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[file_name[:-4]] = pd.read_csv(file_name, index_col=False)

## Key DataFrames

In [3]:
# POI_hay
# POI_google
# schools
# hdma
# houses
# crime

## EDA2

#### POI_hay

In [4]:
POI_hay = dataframes["points-of-interest-haystacks"]
print(POI_hay.shape)
print(POI_hay.isna().sum())
POI_hay.head(3)

(5213, 20)
business_status                     197
name                                  0
photos                             3204
place_id                              0
price_level                        3023
rating                             2192
types                                 0
user_ratings_total                 2192
vicinity                              3
geometry.location.lat                 0
geometry.location.lng                 0
geometry.viewport.northeast.lat       0
geometry.viewport.northeast.lng       0
geometry.viewport.southwest.lat       0
geometry.viewport.southwest.lng       0
opening_hours.open_now             1414
plus_code.compound_code             219
plus_code.global_code               219
permanently_closed                 4980
census_zcta_geoid                     0
dtype: int64

,business_status,name,photos,place_id,price_level,rating,types,user_ratings_total,vicinity,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code,permanently_closed,census_zcta_geoid
0,OPERATIONAL,SweetWater Brewing Company,"[{'height': 810, 'html_attributions': ['<a hre...",ChIJK_An47MF9YgRbWKKF680tH4,1.0,4.5,"['bar', 'restaurant', 'point_of_interest', 'fo...",838.0,"195 Ottley Drive Northeast, Atlanta",33.808719,-84.380186,33.810568,-84.379300,33.80787,-84.381998,True,"RJ59+FW Atlanta, GA, USA",865QRJ59+FW,NaN,30309
1,OPERATIONAL,South City Kitchen Midtown,"[{'height': 433, 'html_attributions': ['<a hre...",ChIJvQqtX0ME9YgR-X6ukvNSt6I,2.0,4.6,"['restaurant', 'bar', 'point_of_interest', 'fo...",2890.0,"1144 Crescent Avenue Northeast, Atlanta",33.785955,-84.384434,33.787298,-84.382997,33.78460,-84.385695,True,"QJP8+96 Atlanta, GA, USA",865QQJP8+96,NaN,30309
2,OPERATIONAL,Loca Luna,"[{'height': 3456, 'html_attributions': ['<a hr...",ChIJ-4pAMjoE9YgRyT9t2idf8go,2.0,4.2,"['night_club', 'restaurant', 'point_of_interes...",2066.0,"550 Amsterdam Avenue Northeast C, Atlanta",33.788545,-84.369098,33.789868,-84.367841,33.78717,-84.370539,True,"QJQJ+C9 Atlanta, GA, USA",865QQJQJ+C9,NaN,30309

#### POI_google

In [5]:
POI_google = dataframes['points-of-interest-google2']
print(POI_google.shape)
print(POI_google.isna().sum())
POI_google.head(3)

(94231, 17)
name                    0
address                 0
gmap_id                 0
description         75837
latitude                0
longitude               0
category                0
avg_rating              0
num_of_reviews          0
price               76243
hours               17766
MISC                14526
state               25962
relative_results     7718
url                     0
zip_code                0
primary_category      450
dtype: int64

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url,zip_code,primary_category
0,H&R Block,"H&R Block, 802 Lower Fayetteville Rd Ste C, Ne...",0x88f4c6329748b5b7:0x412418d65ff2fcb7,NaN,33.374876,-84.762020,"['Tax preparation service', 'Tax consultant']",4.8,58,NaN,"{'Thursday': '10AM–5PM', 'Friday': 'Closed', '...","{'Health & safety': ['Mask required', 'Staff w...",Open ⋅ Closes 5PM,"['0x88f4c6685cd3510f:0x154ee5bc850164a6', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,30263,Tax preparation service
1,Gwinnett Community Bank,"Gwinnett Community Bank, 2775 Buford Hwy, Dulu...",0x88f5a28359cb48cd:0xacc5f8fde9522f87,NaN,34.007883,-84.133413,"['Bank', 'ATM']",3.0,2,NaN,"{'Thursday': '9AM–4PM', 'Friday': '9AM–5PM', '...","{'Service options': ['Drive-through'], 'Access...",Open ⋅ Closes 4PM,"['0x88f599224d1b5ec5:0xcf6966bb9d99d4fc', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,30096,Bank
2,Corley Insurance Inc,"Corley Insurance Inc, 2855 Buford Hwy, Duluth,...",0x88f5a284e80502b3:0xfe92519aa603f4d9,NaN,34.006241,-84.136169,"['Insurance agency', 'Auto insurance agency', ...",4.1,8,NaN,"{'Thursday': '8:30AM–5:30PM', 'Friday': '8:30A...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 5:30PM,"['0x88f5a284fb58e8cd:0x8dd0cb71c88449ee', '0x8...",https://www.google.com/maps/place//data=!4m2!3...,30096,Insurance agency

In [ ]:
{
    "Amusement park": "Entertainment",
    "Art gallery": "Arts",
    "Bakery": "Food",
    "Bank": "Finance",
    "Bar": "Food & Drink",
    "Beauty salon": "Personal Care",
    "Bookstore": "Shopping",
    "Bus station": "Transportation",
    "Cafe": "Food & Drink",
    "Car dealer": "Automotive",
    "Car rental": "Transportation",
    "Car repair": "Automotive",
    "Casino": "Entertainment",
    "Church": "Religious",
    "City hall": "Government",
    "Clothing store": "Shopping",
    "Convenience store": "Shopping",
    "Dentist": "Health",
    "Department store": "Shopping",
    "Doctor": "Health",
    "Electrician": "Home Services",
    "Electronics store": "Shopping",
    "Embassy": "Government",
    "Fire station": "Emergency Services",
    "Florist": "Shopping",
    "Funeral home": "Personal Care",
    "Furniture store": "Shopping",
    "Gas station": "Automotive",
    "Gym": "Fitness",
    "Hair care": "Personal Care",
    "Hardware store": "Shopping",
    "Hospital": "Health",
    "Insurance agency": "Finance",
    "Jewelry store": "Shopping",
    "Laundry": "Home Services",
    "Lawyer": "Legal",
    "Library": "Education",
    "Liquor store": "Food & Drink",
    "Local government office": "Government",
    "Locksmith": "Home Services",
    "Lodging": "Accommodation",
    "Meal delivery": "Food & Drink",
    "Meal takeaway": "Food & Drink",
    "Mosque": "Religious",
    "Movie theater": "Entertainment",
    "Moving company": "Home Services",
    "Museum": "Arts",
    "Night club": "Entertainment",
    "Painting": "Arts",
    "Park": "Outdoors",
    "Parking": "Transportation",
    "Pet store": "Shopping",
    "Pharmacy": "Health",
    "Physiotherapist": "Health",
    "Plumber": "Home Services",
    "Police": "Emergency Services",
    "Post office": "Government",
    "Real estate agency": "Real Estate",
    "Restaurant": "Food & Drink",
    "Roofing contractor": "Home Services",
    "RV park": "Outdoors",
    "School": "Education",
    "Shoe store": "Shopping",
    "Shopping mall": "Shopping",
    "Spa": "Personal Care",
    "Stadium": "Entertainment",
    "Storage": "Home Services",
    "Store": "Shopping",
    "Subway station": "Transportation",
    "Synagogue": "Religious",
    "Taxi stand": "Transportation",
    "Tourist attraction": "Entertainment",
    "Train station": "Transportation",
    "Travel agency": "Travel",
    "University": "Education",
    "Veterinary care": "Pet Services",
    "Zoo": "Outdoors"
}

In [ ]:
category_dict = {
    'Accounting': 'Professional Services',
    'Adult Boutique': 'Retail',
    'Adult Education': 'Education',
    'Adult Entertainment': 'Entertainment',
    'Advertising': 'Professional Services',
    'African Restaurant': 'Restaurants',
    'Airport': 'Transportation',
    'Airport Lounge': 'Transportation',
    'Airport Service': 'Transportation',
    'Airport Terminal': 'Transportation',
    'Alternative Healer': 'Health',
    'Amphitheater': 'Entertainment',
    'Amusement Park': 'Entertainment',
    'Animal Shelter': 'Non-Profit',
    'Antique Shop': 'Retail',
    'Apartment Building': 'Real Estate',
    'Appliance Store': 'Retail',
    'Aquarium': 'Entertainment',
    'Arcade': 'Entertainment',
    'Architect': 'Professional Services',
    'Art Gallery': 'Art',
    'Art Museum': 'Art',
    'Art School': 'Education',
    'Arts & Crafts Store': 'Retail',
    'Asian Restaurant': 'Restaurants',
    'Athletics & Sports': 'Sports',
    'ATM': 'Finance',
    'Auditorium': 'Entertainment',
    'Australian Restaurant': 'Restaurants',
    'Auto Dealership': 'Automotive',
    'Auto Garage': 'Automotive',
    'Auto Workshop': 'Automotive',
    'Automotive Shop': 'Automotive',
    'Bagel Shop': 'Restaurants',
    'Bakery': 'Restaurants',
    'Bank': 'Finance',
    'Bar': 'Nightlife',
    'Barbecue Restaurant': 'Restaurants',
    'Basketball Court': 'Sports',
    'Beach': 'Outdoor Activities',
    'Beauty Salon': 'Personal Care',
    'Bed & Breakfast': 'Travel',
    'Beer Garden': 'Nightlife',
    'Beer Store': 'Retail',
    'Bike Rental / Bike Share': 'Outdoor Activities',
    'Bike Shop': 'Outdoor Activities',
    'Bistro': 'Restaurants',
    'Bookstore': 'Retail',
    'Botanical Garden': 'Outdoor Activities',
    'Boutique': 'Retail',
    'Bowling Alley': 'Entertainment',
    'Boxing Gym': 'Fitness',
    'Brazilian Restaurant': 'Restaurants',
    'Breakfast Spot': 'Restaurants',
    'Brewery': 'Nightlife',
    'Bubble Tea Shop': 'Restaurants',
    'Buffet': 'Restaurants',
    'Building': 'Real Estate',
    'Burger Joint': 'Restaurants',
    'Burrito Place': 'Restaurants',
    'Bus Line': 'Transportation',
    'Bus Station': 'Transportation',
    'Business Center': 'Professional Services',
    'Cafeteria': 'Restaurants',
    'Café': 'Restaurants',
    'Cajun / Creole Restaurant': 'Restaurants',
    'Campground': 'Outdoor Activities',
    'Candy Store': 'Retail',
    'Cantonese Restaurant': 'Restaurants',
    'Car Rental': 'Transportation',
    'Caribbean Restaurant': 'Restaurants',
    'Carpet Store': 'Retail',
    'Casino': 'Entertainment',
    "Gambling": "Entertainment",
    "Gas Station": "Travel and Transportation",
    "General Contractor": "Construction",
    "German Restaurant": "Food and Drink",
    "Gift Shop": "Shopping",
    "Glacier": "Outdoor and Recreation",
    "Glass and Mirror Shop": "Shopping",
    "Golf Course": "Outdoor and Recreation",
    "Government Building": "Community and Government",
    "Greek Restaurant": "Food and Drink",
    "Grocery Store": "Shopping",
    "Gym / Fitness Center": "Health and Wellness",
    "Gymnastics Gym": "Health and Wellness",
    "Harbor / Marina": "Travel and Transportation",
    "Hardware Store": "Shopping",
    "Hawaiian Restaurant": "Food and Drink",
    "Health Food Store": "Shopping",
    "Himalayan Restaurant": "Food and Drink",
    "Historic Site": "Art and Culture",
    "History Museum": "Art and Culture",
    "Hobby Shop": "Shopping",
    "Hockey Arena": "Entertainment",
    "Home Service": "Home Services",
    "Hookah Bar": "Food and Drink",
    "Horse Racing Track": "Entertainment",
    "Horse Stable": "Outdoor and Recreation",
    "Hospital": "Health and Wellness",
    "Hostel": "Travel and Transportation",
    "Hot Dog Joint": "Food and Drink",
    "Hotel": "Travel and Transportation",
    "Hotel Bar": "Food and Drink",
    "Hotpot Restaurant": "Food and Drink",
    "House": "Real Estate",
    "Housing Development": "Real Estate",
    "Hunan Restaurant": "Food and Drink",
    "Ice Cream Shop": "Food and Drink",
    "Ice Hockey Rink": "Entertainment",
    "Ice Skating Rink": "Entertainment",
    "Indian Restaurant": "Food and Drink",
    "Indie Movie Theater": "Entertainment",
    "Indonesian Restaurant": "Food and Drink",
    "Insurance Office": "Professional Services",
    "Interactive Museum": "Art and Culture",
    "Internet Cafe": "Food and Drink",
    "Irish Pub": "Food and Drink",
    "Israeli Restaurant": "Food and Drink",
    "Italian Restaurant": "Food and Drink",
    "Japanese Restaurant": "Food and Drink",
    "Jazz Club": "Entertainment",
    "Jewelry Store": "Shopping",
    "Juice Bar": "Food and Drink",
    "Karaoke Bar": "Entertainment",
    "Kayak / Canoe Rental": "Outdoor and Recreation",
    "Kebab Restaurant": "Food and Drink",
    "Kids Store": "Shopping",
    "Kitchen Supply Store": "Shopping",
    "Korean Restaurant": "Food and Drink",
    "Lake": "Outdoor and Recreation",
    "Laundromat": "Home Services",
    "Lawn": "Outdoor and Recreation",
    "Lebanese Restaurant": "Food and Drink",
    "Library": "Community and Government",
    "Lighthouse": "Outdoor and Recreation",
    "Lingerie Store": "Shopping",
    "Liquor Store": "Food and Drink",
    "Lounge": "Food and Drink",
    "Mailing Service": "Professional Services",
    "Malay Restaurant": "Food and Drink",
    "Market": "Shopping",
    "Massage Studio": "Health and Wellness",
    "Mediterranean Restaurant": "Food and Drink",
    "Meeting Room": "Event Planning and Services",
      "Meeting Room": "Office",
      "Memorial Site": "Tourist Spot",
      "Mental Health Clinic": "Medical",
      "Mentorship Program": "Education",
      "Metal Supplier": "Manufacturing",
      "Miniature Golf": "Sports",
      "Mobile Home Park": "Residential",
      "Mobile Phone Accessories": "Retail",
      "Mobile Phone Store": "Retail",
      "Modeling Agency": "Entertainment",
      "Monastery": "Religious",
      "Money Transfer Service": "Finance",
      "Monument / Landmark": "Tourist Spot",
      "Motel": "Hotel",
      "Motivational Speaker": "Business",
      "Motorcycle Dealer": "Automotive",
      "Motorcycle Rental": "Automotive",
      "Motorcycle Repair": "Automotive",
      "Motorcycle Shop": "Automotive",
      "Motorsports Shop": "Sports",
      "Mountain": "Outdoor",
      "Movie / Film Studio": "Entertainment",
      "Movie Theater": "Entertainment",
      "Moving Target": "Entertainment",
      "Moving Company": "Logistics",
      "Museum": "Tourist Spot",
      "Music Lessons & Instruction School": "Education",
      "Music Production Studio": "Entertainment",
      "Music Store": "Retail",
      "Music Venue": "Entertainment",
      "Musical Instrument Store": "Retail",
      "Nail Salon": "Beauty",
      "Neighborhood": "Residential",
      "New American Restaurant": "Food",
      "Newspaper": "Media",
      "Nightclub": "Entertainment",
      "Non-governmental Organization (NGO)": "Organization",
      "Non-profit": "Organization",
      "Notary": "Legal",
      "Nudist Beach": "Outdoor",
      "Nursery School": "Education",
      "Nursing Home": "Medical",
      "Observatory": "Tourist Spot",
      "Office": "Business",
  'office equipment rental service': 'Services',
  'office park': 'Workplace',
  'office supplies store': 'Shopping',
  'oil change service': 'Automotive',
  'oncologist': 'Healthcare',
  'opera house': 'Arts',
  'ophthalmologist': 'Healthcare',
  'optical products supplier': 'Shopping',
  'optician': 'Healthcare',
  'oral surgeon': 'Healthcare',
  'orchestra': 'Arts',
  'organic grocery store': 'Shopping',
  'orthodontics': 'Healthcare',
  'orthopedic shoe store': 'Shopping',
  'orthopedics': 'Healthcare',
  'osteopath': 'Healthcare',
  'outdoor activity organizer': 'Entertainment',
  'outdoor sports store': 'Shopping',
  'outdoor supply store': 'Shopping',
  'oven repair service': 'Home Services',
  'packaging supply store': 'Shopping',
  'paint store': 'Shopping',
  'paintball center': 'Entertainment',
  'painter': 'Home Services',
  'painting': 'Arts',
  'painting class': 'Arts',
  'painting contractor': 'Home Services',
  'pallet supplier': 'Shopping',
  'pan-Asian restaurant': 'Food',
  'pancake house': 'Food',
  'paper distributor': 'Shopping',
  'paper mill': 'Manufacturing',
  'parasailing ride service': 'Entertainment',
  'park': 'Entertainment',
  'party equipment rental service': 'Services',
  'party planner': 'Services',
  'passport office': 'Government',
  'patent attorney': 'Legal',
  'patent office': 'Government',
  'pathologist': 'Healthcare',
  'paving contractor': 'Home Services',
  'pawn shop': 'Shopping',
  'payday loans': 'Financial Services',
  'pediatric dentist': 'Healthcare',
  'pediatrician': 'Healthcare',
  'pension': 'Financial Services',
  'personal injury attorney': 'Legal',
  'personal trainer': 'Healthcare',
  'pest control service': 'Home Services',
  'pet adoption service': 'Services',
  'pet boarding service': 'Services',
  'pet breeders': 'Services',
  'pet cemetery': 'Services',
  'pet groomer': 'Services',
  'pet insurance agency': 'Services',
  'pet service': 'Services',
  'pet sitter': 'Services',
  'pet store': 'Shopping',
  'pet supply store': 'Shopping',
  'pet trainer': 'Services',
  'petroleum products supplier': 'Shopping',
  'pharmacy': 'Healthcare',
  'photocopier supplier': 'Shopping',
  'photographer': 'Arts',
  'photography class': 'Arts',
  'photography lab': 'Services',
  'physical therapist': 'Healthcare',
  'physician': 'Healthcare',
  'piano bar': 'Entertainment',
  'piano instructor': 'Arts',
  'picnic ground': 'Entertainment',
  'picture frame shop': 'Shopping',
  'pie shop': 'Food',
  'piercing shop': 'Shopping',
  'pig farm': 'Agriculture',
  'pipe supplier': 'Shopping',
  'pizza delivery': 'Food',
  'pizza restaurant': 'Food',
  'place of worship': 'Community',
  'place_of_worship': 'Religious center',
  'plaza': 'Public square',
  'playground': 'Recreation area',
  'plumber': 'Home services',
  'point_of_interest': 'Point of interest',
  'police': 'Emergency services',
  'political': 'Government',
  'post_office': 'Post office',
  'premise': 'Premises',
  'primary_school': 'School',
  'printer': 'Office supplies',
  'prison': 'Correctional facility',
  'production_company': 'Film/TV production',
  'professional': 'Professional services',
  'promenade': 'Public walkway',
  'property_management_company': 'Property management',
  'public_building': 'Government',
  'public_market': 'Marketplace',
  'public_transport_station': 'Transportation',
  'publisher': 'Publishing',
  'quarry': 'Resource extraction',
  'racecourse': 'Sports venue',
  'railway': 'Transportation',
  'railway_station': 'Transportation',
  'real_estate_agency': 'Real estate',
  'recreation': 'Recreation area',
  'recycling': 'Waste management',
  'refinery': 'Energy production',
  'religious_organization': 'Religious center',
  'remodeling': 'Home services',
  'rental_car_agency': 'Car rental',
  'repair': 'Home services',
  'reproductive_health_clinic': 'Medical center',
  'residence': 'Residential',
  'residential_college': 'School',
  'resort': 'Accommodation',
  'restaurant': 'Food and drink',
  'roofing_contractor': 'Home services',
  'room': 'Accommodation',
  'route': 'Transportation',
  'rv_park': 'Accommodation',
  'school': 'School',
  'secondary_school': 'School',
  'security': 'Security services',
  'services': 'Services',
  'sewage_treatment': 'Waste management',
  'shipping': 'Shipping and logistics',
  'shoe_store': 'Retail',
  'shopping_center': 'Shopping',
  'shopping_mall': 'Shopping',
  'showground': 'Event space',
  'shrine': 'Religious center',
  'skate_park': 'Recreation area',
  'ski_resort': 'Accommodation',
  'spa': 'Health and wellness',
  'spaceport': 'Transportation',
  'stadium': 'Sports venue',
  'storage': 'Storage',
  'store': 'Retail',
  'street_address': 'Address',
  'sublocality': 'Geographic area',
  'subpremise': 'Premises',
  'subway_station': 'Transportation',
  'summer_camp': 'Recreation area',
  'supermarket': 'Retail',
  'surgeon': 'Medical center',
  'surveyor': 'Professional services',
  'swimming_pool': 'Recreation area',
  'synagogue': 'Religious center',
  'tailor': 'Retail',
  'tanning_salon': 'Health and wellness',
  'taxi_stand': 'Transportation',
  'taxidermist': 'Retail',
  'technology': 'Technology',
  'temple': 'Religious center',
  'tennis_court': 'Sports venue',
  'tertiary_school': 'School',
  'textile': 'Manufacturing',
  'theater': 'Arts and culture',
    'theater': 'Entertainment Venue',
    'thrift store': 'Shopping',
    'ticket shop': 'Shopping',
    'toll booth': 'Transportation',
    'tourist information center': 'Tourism',
    'toys & games store': 'Shopping',
    'trade school': 'Education',
    'train station': 'Transportation',
    'transit station': 'Transportation',
    'travel agency': 'Tourism',
    'university': 'Education',
    'veterinarian': 'Animal Services',
    'video game store': 'Shopping',
    'video rental shop': 'Shopping',
    'video store': 'Shopping',
    'warehouse': 'Business',
    'water park': 'Entertainment Venue',
    'waterfall': 'Natural Attraction',
    'wedding chapel': 'Event Venue',
    'wedding planner': 'Event Services',
    'wellness center': 'Health',
    'wholesale club': 'Shopping',
    'wine bar': 'Food & Drink',
    'winery': 'Food & Drink',
    'women\'s clothing store': 'Shopping',
    'yoga studio': 'Fitness',
    'youth center': 'Community Center',
    'zoo': 'Natural Attraction'
}

In [18]:
pd.DataFrame(POI_google['primary_category'].unique()).to_csv('categories.csv')

#### schools

In [6]:
schools = dataframes['schools']
print(schools.shape)
print(schools.isna().sum())
schools.head(3)

(5264, 17)
Unnamed: 0               0
id                       0
districtID               0
districtName          2718
districtCity          2718
lat                      0
long                     0
name                     0
gradeLevels              0
address                  0
rating                2957
ratingScale           2957
schoolType               0
zipcode                  0
studentsPerTeacher    2772
parentRating             0
schoolLevel              0
dtype: int64

,Unnamed: 0,id,districtID,districtName,districtCity,lat,long,name,gradeLevels,address,rating,ratingScale,schoolType,zipcode,studentsPerTeacher,parentRating,schoolLevel
0,0,1038,73,Fulton County School District,Atlanta,34.071564,-84.363319,Sweet Apple Elementary School,PK-5,"12025 Etris Road, 30075, Roswell",10.0,Above average,public,30075,15.0,4,Elementary School
1,0,1108,82,Gwinnett County School District,Lawrenceville,34.044102,-83.924065,Fort Daniel Elementary School,PK-5,"1725 Auburn Road, 30019, Dacula",10.0,Above average,public,30019,14.0,5,Elementary School
2,0,1111,82,Gwinnett County School District,Lawrenceville,33.996933,-83.937210,Dyer Elementary School,PK-5,"1707 Hurricane Shoals Road Northeast, 30019, D...",10.0,Above average,public,30019,15.0,3,Elementary School

#### hdma

In [7]:
hdma = dataframes['atlanta_hdma_2021']
print(hdma.shape)
print(hdma.isna().sum())
hdma.head(3)

(222, 18)
zip_code                                         0
average_loan_amount_home_improvement_approved    0
average_loan_amount_home_improvement_denied      0
average_loan_amount_home_purchase_approved       0
average_loan_amount_home_purchase_denied         0
loan_count_home_improvement_approved             0
loan_count_home_improvement_denied               0
loan_count_home_purchase_approved                0
loan_count_home_purchase_denied                  0
total_loan_count                                 0
total_approved_loans                             0
total_denied_loans                               0
approval_percentage                              0
zip_median_income                                0
population                                       0
zip_owner_occupied_units                         0
total_one_to_four_family_homes                   0
median_age_of_housing_units                      0
dtype: int64

,zip_code,average_loan_amount_home_improvement_approved,average_loan_amount_home_improvement_denied,average_loan_amount_home_purchase_approved,average_loan_amount_home_purchase_denied,loan_count_home_improvement_approved,loan_count_home_improvement_denied,loan_count_home_purchase_approved,loan_count_home_purchase_denied,total_loan_count,total_approved_loans,total_denied_loans,approval_percentage,zip_median_income,population,zip_owner_occupied_units,total_one_to_four_family_homes,median_age_of_housing_units
0,30002,160100,152390,285173,237129,203,42,624,76,945,827,118,87.51,64488,3129541,549639,936918,44
1,30004,288903,249241,353285,382510,1436,240,4142,339,6157,5578,579,90.60,137621,31727569,8681133,10473381,16
2,30005,294620,233872,304506,335033,862,138,2430,176,3606,3292,314,91.29,166438,16650605,4234171,5065248,15

#### houses

In [8]:
houses = dataframes['atlanta_listings']
print(houses.shape)
print(houses.isna().sum())
houses.head(3)

(11182, 21)
latitude                        0
longitude                       0
full_street_address             0
city                            0
county_name                     0
beds                         2054
baths_full                   2082
baths_half                   7020
square_footage               2819
lot_size                      444
year_built                    760
details                         0
special_features                0
unit_count                  11081
price                           0
transaction_type                0
listing_status                  0
listing_special_features        0
census_state_name               0
census_county_name              0
zip                             0
dtype: int64

,latitude,longitude,full_street_address,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,...,details,special_features,unit_count,price,transaction_type,listing_status,listing_special_features,census_state_name,census_county_name,zip
0,33.971863,-83.618736,633 Marigot Way,Statham,Barrow-County,3.0,2.0,NaN,1634.0,1.0,...,"Detached, 3 Beds, 2 Baths, 1,634 Sq Ft",0.0,NaN,305000.0,1.0,1.0,0.0,Georgia,"Barrow, GA",30666
1,34.018024,-83.663994,431 Dunahoo Road,Winder,Barrow-County,3.0,2.0,NaN,1625.0,0.0,...,"Detached, 3 Beds, 2 Baths, 1,625 Sq Ft",0.0,NaN,349900.0,1.0,1.0,0.0,Georgia,"Barrow, GA",30680
2,34.003227,-83.749001,471 Monticello Court,Winder,Barrow-County,4.0,3.0,NaN,1816.0,0.0,...,"Detached, 4 Beds, 3 Baths, 1,816 Sq Ft",0.0,NaN,289900.0,1.0,1.0,0.0,Georgia,"Barrow, GA",30680

#### crime

In [9]:
crime = dataframes['crime']
print(crime.shape)
print(crime.isna().sum())
crime.head(3)

(726, 27)
Unnamed: 0                             0
census_state_abbr                      0
census_zcta5_geoid                     0
census_cbsa_geoid_count                0
census_cbsa_geoid_list                 0
overall_crime_grade                    0
violent_crime_grade                    0
violent_crime_total_rate               0
violent_crime_assault_rate             0
violent_crime_robbery_rate             0
violent_crime_rape_rate                0
violent_crime_murder_rate              0
property_crime_grade                   0
property_crime_total_rate              0
property_crime_theft_rate              0
property_crime_vehicle_theft_rate      0
property_crime_burglary_rate           0
property_crime_arson_rate              0
other_crime_grade                      1
other_crime_total_rate                 1
other_crime_kidnapping_rate            0
other_crime_drug_crimes_rate           0
other_crime_vandalism_rate             1
other_crime_identity_theft_rate        0
other_crime_animal_cruelty_rate        0
crime_safety_paragraph                17
interpreting_crime_map_paragraph     174
dtype: int64

,Unnamed: 0,census_state_abbr,census_zcta5_geoid,census_cbsa_geoid_count,census_cbsa_geoid_list,overall_crime_grade,violent_crime_grade,violent_crime_total_rate,violent_crime_assault_rate,violent_crime_robbery_rate,...,property_crime_arson_rate,other_crime_grade,other_crime_total_rate,other_crime_kidnapping_rate,other_crime_drug_crimes_rate,other_crime_vandalism_rate,other_crime_identity_theft_rate,other_crime_animal_cruelty_rate,crime_safety_paragraph,interpreting_crime_map_paragraph
0,13719,GA,30002,1,12060,D-,C,3.106,1.7060,1.0670,...,0.1075,B+,5.987,0.1236,0.9456,3.981,0.8824,0.0542,The D- grade means the rate of crime is much h...,"When looking at the crime map for 30002, remem..."
1,13720,GA,30004,1,12060,C-,A-,1.553,0.9140,0.3858,...,0.1017,A+,3.171,0.0404,0.7863,1.524,0.8159,0.0042,The C- grade means the rate of crime is slight...,"When looking at the crime map for 30004, remem..."
2,13721,GA,30005,1,12060,B+,A-,1.480,0.7977,0.4288,...,0.1118,A+,2.709,0.0512,0.3942,1.394,0.8653,0.0041,The B+ grade means the rate of crime is lower ...,"When looking at the crime map for 30005, remem..."